<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ifmvo.listener">

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SMSListActivity">

        </activity>

        <activity
            android:name=".MessageBoxList"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".MySMSManager"
            android:screenOrientation="portrait">
        </activity>




        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".ui.SmsListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.TongJiActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>